/* HEADER */


.header {
    width: 100%;
    padding-inline: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.6rem;
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 10;
}


/* logo */
.logo {
    font-size: 3rem;
    font-weight: 800;
}

.logo-span {
    color: var(--accent-clr);
    font-weight: 500;
}

/* links */
.nav-item {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.main-nav-link {
    text-decoration: none;
    color: var(--dark-gray);
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.main-nav-link:hover {
    color: var(--accent-clr);
}

.active {
    color: var(--accent-clr);
    transform: scale(1.1);
    /* Apply scale transformation for active links */
}

/* cta */

.cta-resumebtn span {
    font-size: 1.6rem;
    padding: 1rem;
}

.cta-resumebtn .envelop-icon {
    width: 20px;
}

.hamburger-cta {
    color: var(--accent-clr);
    display: none;
    cursor: pointer;
}

/* sub-nav */
.sub-nav {
    position: fixed;
    width: 40%;
    right: 0;
    height: calc(100vh - 9.6rem);
    background-color: var(--accent-clr);
    box-shadow: -4px 0px 6px rgba(11, 9, 10, 0.205);
    z-index: 10;
    border-top-left-radius: 10px;
    padding-top: 30px;
    overflow: hidden;
}

.sub-nav-item {
    list-style-type: none;
    display: flex;
    flex-direction: column;

}


.sub-bar-icon-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    gap: 1rem;
    color: var(--white);
    transition: background-color 0.4s ease, color 0.4s ease;
    /* Combine transitions */
}

.sub-bar-icon-link span {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    padding: 1rem 0;
    transition: color 0.4s ease;
}

.sub-bar-icon-link:hover {
    background-color: var(--white);
    color: var(--accent-clr);
}

.sub-bar-icon-link:hover span {
    color: var(--accent-clr);
}

.side-nav-active {
    background-color: var(--white);
    /* padding-left: 5rem; */
    color: var(--accent-clr);
}

.side-nav-active span {
    color: var(--accent-clr);
}





@media (max-width: 1024px) {

    .logo {
        font-size: 2.4rem;
        font-weight: 800;
    }

    .main-nav-link:link,
    .main-nav-link:visited {
        font-size: 1.4rem;
    }
}


/* md */
@media (max-width: 768px) {
    .nav-item {
        gap: 1.4rem;
    }

    .logo {
        font-size: 2.4rem;
    }

    .cta-resumebtn {
        display: none;
    }

    .main-nav {
        display: none;
    }

    .hamburger-cta {
        display: block;
    }
}

@media (max-width: 400px) {
    .sub-nav {
        width: 160px;
    }
}