:root {
  --accent-clr: #E5383B;
  --dark: #161A1D;
  --white: #F5F3F4;
  --light-gray: #c4c2c3;
  --dark-gray: #939292;
  --black: #0B090A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'poppins', sans-serif;
  background-color: var(--white);
  color: var(--dark);
  position: relative;
}



/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */